# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.Python

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
*.egg-info/
*.egg
*.whl
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*.checkpoint.ipynb
jupyter_cache/

# IDEs and editors
.idea/
.vscode/

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Hugging Face cache
.cache/huggingface
~/.cache/huggingface

# Environment files
.env
.env.*

# OS metadata
.DS_Store
Thumbs.db

# ruff Cache
.ruff_cache